@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans&display=swap');

$primary-font: 'Didact Gothic';
$secondary-font: 'Open Sans';
$font-color:  #fff;
$font-color-disable:  #000;

$primary-color: #006AC3;
$primary-color-lighter: #007dc3;
$secondary-color: #A0E4FF;
$border-color: #0051a5;

$input-padding: 0.8em 1.2em;
